/*-------------------------------------------------------------------------------------------------------------*/
                                          /* CSS de Alba Álvarez */
                                    /* --------------*****-------------- */
      /*  """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/ 

      .sliderprincipal{
            width: 100%;
      
      }


      /* css index.html */
      html{
            font-size: 16px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: aquamarine;
      }